//- login
extends ../layout.pug

block titlePage
  p Mot de passe

block content
  include ../modal/reset-password.pug

block append script
  script(src='/javascripts/form-validators/resetPasswordValidator.js')
  script(src='/javascripts/views/reset-password.js')
