
<!-- Modal -->
<div id="modal-reset-pass" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title w-100">Réinitialiser mot de passe</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
              form(method="post")#reset-password-form
                <div class="md-form">
                  <i class="fa fa-envelope prefix"></i>
                  <input type="email" name="email" id="email-reset" class="form-control">
                  <label for="email-reset">Votre email</label>
                </div>
                .alert.alert-danger.hide
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button id="cancel-reset-pass" type="button" class="btn btn-mdb" data-dismiss="modal">Annuler</button>
                <button  type="submit" id="submit-reset-pass" type="button" class="btn btn-mdb">Envoyer</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- /.Live preview-->
