<!-- Modal -->
<div id="set-password" class="modal show" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title w-100">Réinitialiser mot de passe</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
              form(method="post")#set-password-form
                <div class="md-form">
                  <i class="fa fa-lock prefix"></i>
                  <input type="password" name="password1" id="password1" class="form-control">
                  <label for="password1">Nouveau mot de passe</label>
                </div>
                <div class="md-form">
                  <i class="fa fa-lock prefix"></i>
                  <input type="password" name="password2" id="password2" class="form-control">
                  <label for="password2">Confirmer mot de passe</label>
                </div>
                .alert.alert-danger.hide
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button form="set-password-form" id="set-password-submit" type="submit" class="btn btn-mdb">Valider</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- /.Live preview-->
